# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Node.js dependencies
/node_modules/

# Expo (if you're using Expo)
.expo/

# React Native build folders
/android/build/
/ios/build/

# Environment files
.env

# Debug log
npm-debug.log

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db



